body {
   margin: 0;
   padding: 0;
}

.container {
   max-width: 1240px;
   margin: 0 auto;
   padding: 0 20px;
}

table {
   margin-top: 20px;
   font-family: Arial;
   border: 1px solid black;
   text-align: center;
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}

th {
   padding: 15px;
}

td {
   padding: 15px;
}

.column2 {
   width: 250px;
}

.column2 ~ td {
   width: 130px;
}

.colummn3 ~ td {
   width: 100px;
}